<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="table-header">
        <h4 class="folder-name"></h4>
        <button class="go-back">Ir atras</button>
      </div>
      <table class="files">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Propietario</th>
            <th>Permisos</th>
          </tr>
        </thead>
        <tbody class="info-table"></tbody>
      </table>
    </div>
    <script src="main.js"></script>
  </body>
</html>
