body {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  --black-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.2);
}

.container {
  align-items: center;
  justify-content: center;
  display: inline-block;
  transform: translateY(25vh);
  background: #ffffff;
  padding: 20px;
  width: 70%;
  border-radius: 7px;
  box-shadow: var(--black-shadow);
}

.table-header {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  color: white;
  box-shadow: var(--black-shadow);
  width: 100%;
  transform: translateY(-10vh);
  padding: 25px 0px 25px 15px;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: larger;
  text-align: left;
}

.files {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.1em;
  min-width: 900px;
  transform: translateY(-10vh);
}

.files th,
.files td {
  padding: 12px 15px;
  border-bottom: 1px solid #00000023;
}

#movcut {
  margin-bottom: 30px;
}

.mode-buttons {
  display: inline-block;
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  border-radius: 0.25rem;
  color: white;
  width: 300px;
  padding: 20px;
}

#btn {
  background: white;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.active {
  background: rgb(156, 151, 151);
}

.change-mode-title {
  font-size: 22px;
  padding: 0;
}

.selected-file {
  background: white;
  border-radius: 0.25rem;
  color: black;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 15px;
}
